.casa-img {
  width:100%;
  object-fit: cover;
}

.casa-card {
  box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
  background: red;
}

.casa-container h2 {
  width: 100%;
}

.text-tarifs {
  width: 70%;
}

.introduction-text {
  width: 90%;
}

.carousel-casa {
  width: 80%
}
